a {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.title {
  margin: 0;
  font-size: 2.5rem;
  font-weight: bold;
  color: var(--tui-accent);
}

.header {
  height: 4rem;
  padding-inline: 1rem;
  background-color: var(--tui-error-bg);
}

.logo {
  width: 1.9rem;
  height: 1.9rem;
}

.header-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;

  max-width: 100rem;
  height: 100%;
  margin: 0 auto;
}

tui-svg {
  color: var(--tui-accent);
}

.tabs {
  justify-content: flex-end;
  box-shadow: none;
}

@media (width < 550px) {
  .title {
    margin: 0;
    font-size: 1.5rem;
  }

  .logo {
    width: 1.2rem;
    height: 1.2rem;
  }
}

.home tui-svg {
  color: var(--tui-primary);
}

.about-us tui-svg {
  color: blue;
}

.catalog tui-svg {
  color: orange;
}

.cart tui-svg {
  color: red;
}

.sign-in tui-svg {
  color: green;
}

.sign-up tui-svg {
  color: brown;
}

.logout tui-svg {
  color: red;
}

.profile tui-svg {
  color: yellowgreen;
}

:host {
  [tuitab]#{'._active'} {
    color: inherit;
  }
}

.router-active span {
  color: var(--tui-text-01);
}
