<header class="header tui-space_bottom-3">
  <div class="header-container">
    <a routerLink="/main">
      <tui-svg src="../../../assets/icons/logo.svg" class="logo"></tui-svg>
      <p class="title">Perfume</p>
    </a>
    <tui-tabs-with-more [(activeItemIndex)]="activeItemIndex" [underline]="false" class="tabs">
      <button *tuiItem tuiTab routerLink="/">
        <tui-svg src="tuiIconHome" class="tui-space_right-2"></tui-svg>
        Home
      </button>
      <button *tuiItem tuiTab disabled routerLink="/about-us">
        <tui-svg src="tuiIconUsers" class="tui-space_right-2"></tui-svg>
        About Us
      </button>
      <button *tuiItem tuiTab disabled routerLink="/catalog">
        <tui-svg src="tuiIconFileText" class="tui-space_right-2"></tui-svg>
        Catalog
      </button>
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <button *tuiItem tuiTab routerLink="/sign-in">
          <tui-svg src="tuiIconUserCheck" class="tui-space_right-2"></tui-svg>
          Sign In
        </button>
        <button *tuiItem tuiTab routerLink="/sign-up">
          <tui-svg src="tuiIconUserPlus" class="tui-space_right-2"></tui-svg>
          Sign Up
        </button>
      </ng-container>
      <button *tuiItem tuiTab disabled routerLink="/cart">
        <tui-svg src="tuiIconShoppingCart" class="tui-space_right-2"></tui-svg>
        Cart
      </button>
      <ng-container *ngIf="(isLoggedIn$ | async)">
        <button *tuiItem tuiTab disabled routerLink="/profile">
          <tui-svg src="tuiIconUser" class="tui-space_right-2"></tui-svg>
          Profile
        </button>
        <button *tuiItem tuiTab routerLink="/" (click)="logout()">
          <tui-svg src="tuiIconLogOut"></tui-svg>
          Logout
        </button>
      </ng-container>
    </tui-tabs-with-more>
  </div>
</header>
