<header class="header tui-space_bottom-3">
  <div class="header-container">
    <a routerLink="/main">
      <tui-svg src="../../../assets/icons/logo.svg" class="logo"></tui-svg>
      <p class="title">Perfume</p>
    </a>
    <tui-tabs-with-more [(activeItemIndex)]="activeItemIndex" [underline]="false" class="tabs">
      <button *tuiItem tuiTab routerLink="/main" routerLinkActive="home router-active">
        <tui-svg src="tuiIconHome" class="tui-space_right-2"></tui-svg>
        <span>Home</span>
      </button>
      <button *tuiItem tuiTab routerLink="/about-us" routerLinkActive="about-us router-active">
        <tui-svg src="tuiIconUsers" class="tui-space_right-2"></tui-svg>
        <span>About Us</span>
      </button>
      <button *tuiItem tuiTab routerLink="/catalog" routerLinkActive="catalog router-active">
        <tui-svg src="tuiIconFileText" class="tui-space_right-2"></tui-svg>
        <span>Catalog</span>
      </button>
      <button *tuiItem tuiTab routerLink="/cart" routerLinkActive="cart router-active">
        <tui-svg src="tuiIconShoppingCart" class="tui-space_right-2"></tui-svg>
        <span>Cart</span>
      </button>
      <ng-container *ngIf="!(isLoggedIn$ | async)">
        <button *tuiItem tuiTab routerLink="/sign-in" routerLinkActive="sign-in router-active">
          <tui-svg src="tuiIconUserCheck" class="tui-space_right-2"></tui-svg>
          <span>Sign In</span>
        </button>
        <button *tuiItem tuiTab routerLink="/sign-up" routerLinkActive="sign-up router-active">
          <tui-svg src="tuiIconUserPlus" class="tui-space_right-2"></tui-svg>
          <span>Sign Up</span>
        </button>
      </ng-container>
      <ng-container *ngIf="(isLoggedIn$ | async)">
        <button *tuiItem tuiTab routerLink="/profile">
          <tui-svg src="tuiIconUser" class="tui-space_right-2"></tui-svg>
          <span>Profile</span>
        </button>
        <button *tuiItem tuiTab routerLink="/" (click)="logout()" routerLinkActive="logout router-active">
          <tui-svg src="tuiIconLogOut"></tui-svg>
          <span>Logout</span>
        </button>
      </ng-container>
    </tui-tabs-with-more>
  </div>
</header>
