<form [formGroup]="passwordForm" class="password-form">
  <tui-input-password
    formControlName="currentPassword"
    [tuiTextfieldCleaner]="true"
    tuiHintContent="Password must contain at least one lowercase letter, one uppercase letter, one digit and 8 characters long (e.g. aaaaaa1A)"
    class="password tui-form__row"
  >
    Current password<span class="required"></span>
    <input tuiTextfield />
  </tui-input-password>
  <tui-error [formControl]="passwordForm.controls.currentPassword" [error]="[] | tuiFieldError | async"></tui-error>
  <tui-input-password
    formControlName="newPassword"
    [tuiTextfieldCleaner]="true"
    tuiHintContent="Password must contain at least one lowercase letter, one uppercase letter, one digit and 8 characters long (e.g. aaaaaa1A)"
    class="password tui-form__row"
  >
    New password<span class="required"></span>
    <input tuiTextfield />
  </tui-input-password>
  <tui-error [formControl]="passwordForm.controls.newPassword" [error]="[] | tuiFieldError | async"></tui-error>

  <tui-notification *ngIf="error | async as errorMessage" status="error" class="notification tui-space_vertical-4">
    {{ errorMessage }}
  </tui-notification>
  <button
    tuiButton
    type="button"
    class="login-input tui-form__row"
    appearance="accent"
    [disabled]="passwordForm.invalid"
    (click)="changePassword()"
  >
    change
  </button>
</form>
