<section class="sign-up  tui-form__row tui-space_bottom-3">
  <form [formGroup]="registrationForm" class="registration-form">
    <p class="title">Registration</p>
    <tui-input tuiHintContent="Please enter a valid email address (e.g. name@example.com)" class="email"
      [tuiTextfieldCleaner]="true" [formControl]="email">
      Email<span class="required">*</span>
    </tui-input>
    <tui-error [formControl]="email" [error]="[] | tuiFieldError | async"></tui-error>
    <div class="password-wrapper tui-form__row">
      <tui-input-password formControlName="password" [tuiTextfieldCleaner]="true"
        tuiHintContent="Password must contain at least one lowercase letter, one uppercase letter, one digit and 8 characters long (e.g. aaaaaa1A)"
        class="password">
        Password<span class="required">*</span>
        <input tuiTextfield placeholder="Make it secure!" />
      </tui-input-password>
      <tui-input-password formControlName="confirm" class="password-again">
        Confirm<span class="required">*</span>
        <input tuiTextfield placeholder="Make it secure!" />
      </tui-input-password>
    </div>
    <div class="error-container">
      <tui-error [formControl]="password" [error]="[] | tuiFieldError | async"></tui-error>
      <tui-error [formControl]="confirm" [error]="[] | tuiFieldError | async"></tui-error>
    </div>
    <tui-input formControlName="firstName" class="tui-form__row" [tuiTextfieldCleaner]="true"
      tuiHintContent="Must contain at least one character and no special characters or numbers">
      First name<span class="required">*</span>
      <input tuiTextfield />
    </tui-input>
    <tui-error [formControl]="firstName" [error]="[] | tuiFieldError | async"></tui-error>
    <tui-input formControlName="lastName" class="tui-form__row" [tuiTextfieldCleaner]="true"
      tuiHintContent="Must contain at least one character and no special characters or numbers">
      Last name<span class="required">*</span>
      <input tuiTextfield />
    </tui-input>
    <tui-error [formControl]="lastName" [error]="[] | tuiFieldError | async"></tui-error>
    <tui-input-date [formControl]="dateOfBirth" tuiCalendar="true" class="tui-form__row"
      tuiHintContent="You must be at least 13 years old">
      Date of birth<span class="required">*</span>
      <input tuiTextfield autocomplete="bday" />
    </tui-input-date>
    <tui-error [formControl]="dateOfBirth" [error]="[] | tuiFieldError | async" class=" tui-space_bottom-3"></tui-error>

    <p class="title">Addresses</p>
    <div class="checkbox-container">
      <tui-checkbox-labeled formControlName="shippingToBilling" size="m">
        Synchronize shipping to billing address
      </tui-checkbox-labeled>
      <tui-checkbox-labeled formControlName="shippingAndBilling" size="m">
        Set both addresses as default
      </tui-checkbox-labeled>
    </div>

    <div class="addresses-form-container">
      <div class="sipping-form">
        <div class="title-container">
          <h4>Shipping address</h4>
          <tui-checkbox-labeled formControlName="useShipping" size="m"></tui-checkbox-labeled>
        </div>
        <tui-input formControlName="street" [tuiTextfieldCleaner]="true"
          tuiHintContent="Must contain at least one character">
          Street<span class="required">*</span>
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="street" [error]="[] | tuiFieldError | async"></tui-error>
        <tui-input [formControl]="city" class="tui-form__row" [tuiTextfieldCleaner]="true"
          tuiHintContent="Must contain at least one character and no special characters or numbers">
          City<span class="required">*</span>
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="city" [error]="[] | tuiFieldError | async"></tui-error>
        <tui-select formControlName="country" class="tui-form__row">
          Country<span class="required">*</span>
          <input tuiTextfield placeholder="Choose your country" />
          <tui-data-list-wrapper *tuiDataList [items]="countries"></tui-data-list-wrapper>
        </tui-select>
        <tui-input formControlName="postalCode" class="tui-form__row" [tuiTextfieldCleaner]="true"
          tuiHintContent="Must follow the format for the country (e.g., 12345 or A1B 2C3 for the U.S. and Canada, respectively)">
          Postal code<span class="required">*</span>
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="postalCode" [error]="[] | tuiFieldError | async"></tui-error>
      </div>

      <div class="billing-form">
        <div class="title-container">
          <h4>Billing address</h4>
          <tui-checkbox-labeled formControlName="useBilling" size="m"></tui-checkbox-labeled>
        </div>
        <tui-input [formControl]="streetBilling" tuiHintContent="Must contain at least one character"
          [tuiTextfieldCleaner]="true">
          Street
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="streetBilling" [error]="[] | tuiFieldError | async"></tui-error>
        <tui-input formControlName="cityBilling" class="tui-form__row" [tuiTextfieldCleaner]="true"
          tuiHintContent="Must contain at least one character and no special characters or numbers">
          City
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="cityBilling" [error]="[] | tuiFieldError | async"></tui-error>
        <tui-select formControlName="countryBilling" class="tui-form__row">
          Country
          <input tuiTextfield placeholder="Choose your country" />
          <tui-data-list-wrapper *tuiDataList [items]="countries"></tui-data-list-wrapper>
        </tui-select>
        <tui-input formControlName="postalCodeBilling" class="tui-form__row" [tuiTextfieldCleaner]="true"
          tuiHintContent="Must follow the format for the country (e.g., 12345 or A1B 2C3 for the U.S. and Canada, respectively)">
          Postal code
          <input tuiTextfield />
        </tui-input>
        <tui-error [formControl]="postalCodeBilling" [error]="[] | tuiFieldError | async"></tui-error>
      </div>
    </div>

    <div class="checkbox-container tui-form__row tui-space_bottom-3">
      <tui-checkbox-labeled formControlName="shipping" size="m" tuiHintContent="Must contain at least one character">
        Mark for shipping address is default
      </tui-checkbox-labeled>

      <tui-checkbox-labeled formControlName="billing" size="m">
        Mark for billing address is default
      </tui-checkbox-labeled>
    </div>
    <tui-notification *ngIf="error | async as errorMessage" status="error" class="notification tui-space_vertical-4">
      {{ errorMessage }}
    </tui-notification>
    <button tuiButton type="button" class="tui-form__row" appearance="accent" [disabled]="!registrationForm.valid"
      (click)="submitForm()">Sign up</button>
    <button tuiButton type="button" class="tui-form__row" appearance="accent" (click)="submitForm()">Sign up</button>
  </form>
  <p class="an-account">Already have an account? <a routerLink="/sign-in">Sign in</a></p>
</section>
