<section class="profile shadow(1)  tui-form__row tui-space_bottom-3">
    <div class="profile-container" uiIsland>
        <tui-marker-icon size="s" src="tuiIconUserLarge" class="tui-island__marker"
        [style.color]="'yellowgreen'"></tui-marker-icon>
        <h3 class="title">User Profile</h3>
        <ec-customer-profile-editor></ec-customer-profile-editor>

<!-- <button tuiButton type="button" class="login-input tui-form__row" appearance="accent"
(click)="changePassword()">Sign in</button>
<div>1234</div> -->
</div>
</section>